
*.iml
*.pyc
.idea/dictionaries/Pc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/*
.idea/aws.xml
